@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&family=Open+Sans:wght@700&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

* {
    font-family: 'Baloo 2', cursive, 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

.app-bar {
    padding: 8px 50px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    font-size: 18px;
    min-width: 330px;
}

.app-bar .app-bar__menu {
    display: none;
    align-items: center;
}

.app-bar .app-bar__menu button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 10px 15px;
    cursor: pointer;
}

.app-bar .app-bar__brand {
    display: flex;
    align-items: center;
}

.app-bar .app-bar__brand h1 {
    color: #1C4966;
    font-size: 22px;
    user-select: none;
    font-size: 1.5em;
    margin: 0;
}

.app-bar .app-bar__navigation {
    position: static;
    top: 50px;
    left: -180px;
    transition: all 0.3s;
    background-color: white;
    overflow: hidden;
}

.app-bar .app-bar__navigation ul {
    margin: 5px 0;
    padding-left: 10px;
}

.app-bar .app-bar__navigation ul li {
    display: inline-block;
}

.app-bar .app-bar__navigation ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    margin: 0;
}

.app-bar .app-bar__navigation.open {
    left: 0;
}

.main-title {
    font-size: 33px;
    text-align: center;
}

#main-content {
    padding: 20px 0;
}

.btn {
    background-color: #0353A0;
    color: white;
}

.btn-logout, .btn-login {
    background-color: #dfdfdf !important;
    color: black;
    border-radius: 20px;
    margin-bottom: 0;
}

.swal-text {
    text-align: center;
}

@media screen and (max-width: 820px) {
    .app-bar {
        padding: 8px 35px;
    }
}

@media screen and (max-width: 910px) {
    .app-bar {
        grid-template-columns: auto 1fr auto;
        padding: 8px 16px;
    }

    .app-bar .app-bar__menu  {
        display: flex;
    }

    .app-bar .app-bar__navigation {
        position: absolute;
        top: 66px;
        box-shadow: 4px 4px 4px #dfdfdf;
    }

    .app-bar .app-bar__navigation ul {
        padding: 0 10px;
    }

    .app-bar .app-bar__navigation ul li {
        display: block;
    }

    .app-bar .app-bar__navigation ul li a {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        padding: 10px 30px;
        font-size:17px;
    }

    .app-bar .app-bar__brand h1 {
        font-size: 27px;
    }
}

@media screen and (max-width: 540px) {
    * {
        font-size: 14px;
    }

    .app-bar .app-bar__brand h1 {
        font-size: 24px;
    }
}

@media screen and (max-width: 350px) {
    * {
        font-size: 12px;
    }
}